@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        
        
        
        h2 {
            color: #333;
        }
        p {
            color: #666;
        }
        ul {
            list-style-type: none;
            font-weight: bold;
        }
        ul li {
            padding: 5px 0;
        }
        form {
            margin-top: 20px;
        }
        form input[type="email"] {
            padding: 10px;
            border: 1px solid #ccc;
            width: 300px;
        }
        form input[type="submit"] {
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        
        img {

            border-radius: 5px;
            
        }
        
    </style>
</head>

<section>
    <h2 style="font-weight: bolder">Welcome to KhumaloCraft Emporium</h2>
    <p>Your premier destination for exquisite handcrafted products from artisans around the globe.</p>
    <img src="https://www.africancraftsmarket.com/images/African-Crafts-Market-interior-design-tn.jpg"/>

    <p>Our products are made from the finest materials and are guaranteed to add a touch of elegance to your home.</p>
    <h4>Our products include:</h4>
    <ul>
        <li>Handcrafted furniture</li>
        <li>Handwoven baskets</li>
        <li>Handmade jewelry</li>
        <li>Hand-painted pottery</li>
    </ul>
    <p>Shop with us today and experience the joy of owning a unique piece of art!</p>

    <p>Subscribe to our newsletter and receive a 10% discount on your first purchase!</p>
    <form>
        <input type="email" placeholder="Enter your email address" required>
        <input type="submit" value="Subscribe">
    </form>
</section>